@import "../variables";

.checkRow2 {
  gap: 15px;
  width: 100%;
  border-top: solid 1px #ddd;
  padding: 15px 0 0;
  .checkRow2Col {
    border-right: solid 1px #d7d7d7;
    padding-right: 10px;
    line-height: 1.1;
  }
}
.numbers_grand {
  width: 36px;
  height: 36px;
}
.remove-btn {
  margin-top: 20px;
  margin-right: 10px;
  Button {
  }
}
.checkbox-deals-item {
  width: 100%;
  background: #fff;
  margin: 30px 4px 0 4px;
  border-radius: 10px;
}
.secCheckout {
  position: relative;
  width: 100%;
  height: auto !important;
}
.checkboxMegaItem {
  background: #fff;
  padding: 15px 15px;
  margin-bottom: 12px;
  border-radius: 8px;
  .ProductImage {
    @include box-shadow(0, 0, 4px, rgba(0, 0, 0, 0.5));
    border-radius: 10px;
    width: 120px;
    height: 90px;
    background-size: 100% !important;
  }
}
.mainCheckoutSec {
  width: 100%;
  height: 100% !important;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  padding: 10px 30px 0 30px !important;
  margin-bottom: 0 !important;
  .lottery-num {
    width: 35px !important;
    height: 35px !important;
    background: #ffb80c !important;
    border-radius: 100px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;

    justify-content: center !important;
    h6 {
      font-weight: 500 !important;
      font-size: 16px !important;
      color: #fff;
    }
  }
  .brd-black {
    border: solid 1px #000;
    background-color: #fff;
    width: 274px;
    height: 59px;
    color: #000;
    font-size: 20px !important;
    font-weight: 700 !important;
    border-radius: 100px !important;
  }
  .checkout-btn {
    width: 201.37px;
    height: 59px;
    border: none;
    color: #fff;
    font-size: 20px !important;
    font-weight: 700 !important;
    border-radius: 100px !important;
  }
}

@include for-mobile-large-screen {
  .numbers_grand {
    width: 28px;
    height: 28px;
    margin: 2px;
    span {
      font-size: 14px;
    }
  }
  .cartPriceDetail {
    margin-top: 20px;
  }
  .cartLbl {
    margin-left: 5px;
    font-size: 14px !important;
  }
  .checkboxMegaItem {
    padding: 8px 8px;
  }
}
