/*
===================================================================
Table Of Contents
===================================================================
Colors
fonts
Misc
Mixins
Extend
Transitions
Sprites
*/

/*===================================================================
Colors - start
===================================================================*/

@import "bourbon/bourbon";
@import "_css3-mixins.scss";
@import "fonts.scss";

// Primary color 1
$basecolor1: #450e91;
$bc1-light: #a49bb1;
$bc1-lighter: #dfe8f4;
$bc1-lightest: #ecf1f9;
$bc1-lightester: #f3fcff;
$bc1-dark: #483366;
$bc1-darker: #2c1849;
$bc1-darkest: #1e1230;
// Primary color 2
$yellow: #cdea1a;
$basecolor2: #e7003f;
$bc2-light: #69ce82;
$bc2-lighter: #cdd7c9;
$bc2-lightest: #f2f4e9;
$bc2-dark: #334c22;
$bc2-darker: #203412;
$bc2-darkest: #142b04;
// Primary color 2
$basecolor3: #bad709;
$bc3-dark: #888888;
$bc3-darker: #3e3e3e;
$bc3-darkest: #222222;
$bc3-light: #757575;
$bc3-lighter: #989898;
$bc3-lightest: #b4b4b4;
$gradient-color-1: $basecolor1;
$gradient-color-2: $basecolor2;
$success-color1: #3ab940;
$success-color2: #33d0a6;
$success-color3: #5dbf2d;
$gradient2-color1: #c6dfe8;
$gradient2-color2: #fad7e8;
$gradient3-color1: #ee1e0e;
$gradient3-color2: #d49816;
$light-pink: #ffdbe5;

// Base colors
$bf-color: #000000; // base font color
$hd-color: $basecolor3; // heading color
$sbhd-color: $basecolor1; // sub heading color
//link
$link: $basecolor1; // sub heading color
$linkhover: darken($basecolor1, 20%); // sub heading color
// Gray variations
$gray: #555;
$darkgray: #444;
$darkergray: #333;
$darkestgray: #222;
$darkestergray: #111;
$lightgray: #888888;
$lightergray: #aaa;
$lightestgray: #eee;
$lightestergray: #f6f6f6;
// blue color variation

$bluedark2: #d9d9d9;
$bluelight: #94a1a8;
$bluelighter: #c0c8cd;
$bluelightest: #ebeff2;
$bluedark: #4c5960;
$bluedarker: #2e373c;
$bluedarkest: #0d1920;
// Multi colors
$black: #000;
$white: #fff;
$lime: #b0eb00;
$red: #bf2d48;
$bright-red: #e4294c;
$blue: #005aff;
$dark-blue: #0041b8;
$cyan: #1fe9ec;
$dark-cyan: #00a6a9;
$yellow: #ffdf47;
$orange: #ff9000;
$green: #3ab940;
$dark-green: #1b8620;
$success: $green;
$info: #57b9ea;
$warning: #dac44d;
$danger: $red;
// Social
$facebook: #39579b;
$twitter: #009ff2;
$linkedin: #3060a1;
$googleplus: #ec0b0b;
$vimeo: #009cff;
$youtube: #db002e;
// Product colors - [Start]
$prd-color1: #ef4b57;
$prd-color2: #42ceb2;
$prd-color3: #ff920a;
$prd-color4: #496fbc;
$prd-color5: #e472a5;
$prd-car: #42ceb2;
$prd-health: #e472a5;
$prd-life: #496fbc;
$prd-termlife: #14acbe;
$prd-creditcard: #ef4b57;
$prd-carloan: #00a1b0;
$prd-personalloan: #ff920a;
$prd-mortgageloan: #5f4de7;
$prd-bankaccount: #89943c;
// Product colors - [/end]
// overlay colors - [Start]
$overlay-bg1: #6e236a;
$main-section-overlay: #621f63;

/*===================================================================
Colors - /end
===================================================================*/

$grdpair1color1: $basecolor1;
$grdpair1color2: #1474b8;
$grdpair2color1: #03b931;
$grdpair2color2: #109800;
%gradient-1 {
  @include linear-gradient(to right, $basecolor1, darken($basecolor1, 5%));
}

%cta-button-1 {
  @include linear-gradient(to right, $basecolor1, $basecolor2);
}

%cta-button-1-hover {
  @include linear-gradient(to right, $grdpair1color2, $grdpair1color1);
}

%cta-button-2 {
  @include linear-gradient(to right, $grdpair2color1, $grdpair2color2);
}

/*===================================================================
Fonts - start
===================================================================*/
$primary-font: "Axiforma", sans-serif !important;
$heading-font: $primary-font;
// Icon font
$iconfont: "IcoFont", sans-serif;
$bfsize: 16px;
$bfsize-sm: 15px;
$bfsize-xs: 14px;
$bfsize-mb: 13px;
$ar-bfsize: 15px;
$ar-bfsize-sm: 14px;
$ar-bfsize-xs: 13px;
$ar-bfsize-mb: 11px;
$h1: 41px;
$h2: 32px;
$h3: 26px;
$h4: 20px;
$h5: 17px;
$h6: 16px;
$h1-mb: 26px;
$h2-mb: 22px;
$h3-mb: 20px;
$h4-mb: 18px;
$h5-mb: 17px;
$h6-mb: 16px;

$thin: 100;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

/*===================================================================
Fonts - /end
===================================================================*/

/*===================================================================
Misc - start
===================================================================*/

$fldHeight: 50px;
$header-padding-top: 0;
$header-padding-top-mb: 0;
$header-height: 100px;
$cl_header_height: 80px;
$header-height-mb: 65px;
$section-padding: 50px 0;
$section-padding-sm: 30px 0;
$section-padding-xs: 25px 0;
$section-padding-mb: 18px 0;
$section-padding-lg: 60px 0;
$section-padding-xl: 90px 0;
$section-padding-xxl: 120px 0;
$section-padding-xxxl: 140px 0;
$brd-tp-lg1: solid 1px $lightergray;
$brd-tp-lg2: solid 1px $lightestgray;
$brd-bt-lg1: solid 1px $lightergray;
$brd-bt-lg2: solid 1px $lightestgray;
$base-border-radius: 10px;
$base-border-radius-md: 15px;
$base-border-radius-lg: 20px;
$base-border-radius-sm: 6px;
$base-border-radius-xs: 4px;

/*===================================================================
Misc - /end
===================================================================*/

// Common background images
$bg-homePage: url(https://static.bankonus.com/images/sliders/CoverImage4.jpg);
$bg-personalLoan: url(https://static.bankonus.com/images/banking/loan-banner.jpg);
$bg-magiclink: url(https://static.bankonus.com/images/sliders/slider-mobileapp.jpg);
$bg-carLoan: url(https://static.bankonus.com/images/banking/carloan-banner.jpg);
$bg-credit-card: url(https://static.bankonus.com/images/banking/creditcard-bg.jpg);
$bg-mobile-app: url(https://static.bankonus.com/images/sliders/slider-mobileapp.jpg);
$bg-app-download: url(https://static.bankonus.com/images/bou-app/images/download-section-bg.jpg);
$bg-app-deals: url(https://s3.eu-central-1.amazonaws.com/bankonus.com/assets/images/bou-app/v2/deal-section-bg.jpg);
$bg-mortgageLoan: url(https://static.bankonus.com/images/banking/mortgageloan-banner.jpg);
$bg-account: url(https://s3.eu-central-1.amazonaws.com/bankonus.com/assets/images/bank-account.jpg);

/*===================================================================
Mixins - start
===================================================================*/

//Instead of typing width:200px; height:200px; just type @include size(200px); or @include size(20px,35px);
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

@mixin grayscale($value) {
  -webkit-filter: #{"grayscale(#{$value})"};
  -moz-filter: #{"grayscale(#{$value})"};
  -ms-filter: #{"grayscale(#{$value})"};
  -o-filter: #{"grayscale(#{$value})"};
  filter: #{"grayscale(#{$value})"};
}

@mixin box-shadow-cs($box-shadow-cs) {
  -webkit-box-shadow: $box-shadow-cs;
  -moz-box-shadow: $box-shadow-cs;
  -ms-box-shadow: $box-shadow-cs;
  -o-box-shadow: $box-shadow-cs;
  box-shadow: $box-shadow-cs;
}

@mixin box-shadow-inner($box-shadow-inner) {
  -webkit-box-shadow: $box-shadow-inner;
  -moz-box-shadow: $box-shadow-inner;
  -ms-box-shadow: $box-shadow-inner;
  -o-box-shadow: $box-shadow-inner;
  box-shadow: $box-shadow-inner;
}

@mixin flexWidth($width) {
  flex: 0 0 $width; /* Chrome, Safari */
  -webkit-flex: 0 0 $width; /* Chrome, Safari */
  -ms-flex: 0 0 $width; /* IE */
}
@mixin flex-direction($direction) {
  flex-direction: $direction; /* Chrome, Safari */
  -webkit-flex-direction: $direction; /* Chrome, Safari */
  -ms-flex-direction: $direction; /* IE */
}

@mixin flexWrap($value) {
  flex-wrap: $value; /* Chrome, Safari */
  -webkit-flex: $value; /* Chrome, Safari */
  -ms-flex: $value; /* IE */
}

/*===================================================================
Mixins - /end
===================================================================*/

/*===================================================================
Transitions - start
===================================================================*/

$duration-0: all 0s none;
$duration-1: all 0.1s ease-in-out;
$duration-2: all 0.2s ease-in-out;
$duration-3: all 0.3s ease-in-out;
$duration-4: all 0.4s ease-in-out;
$duration-5: all 0.5s ease-in-out;
$duration-6: all 0.6s ease-in-out;
$duration-6: all 0.6s ease-in-out;
$duration-7: all 0.7s ease-in-out;
$duration-8: all 0.8s ease-in-out;
$duration-9: all 0.9s ease-in-out;
$duration-10: all 1s ease-in-out;

/*===================================================================
Transitions - /end
===================================================================*/

/*===================================================================
 List Style - Start
===================================================================*/

%no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*===================================================================
 List Style - /end
===================================================================*/

%dp-table {
  display: table-cell;
  vertical-align: middle;
}

// Slider Global Variables
$arrowprev: "\eb5e";
$arrownext: "\eb61";

/*===================================================================
 Popup
===================================================================*/

$popup-zindex: 1050;

/*===================================================================
 Font Icons - Start
===================================================================*/

$right-arrow: "\f101";
$left-arrow: "\f102";
$up-arrow: "\f12f";
$down-arrow: "\f100";
$check: "\f121";
$check-circle: "\f123";
$caret-down: "\f106";
$caret-up: "\f13b";
$caret-right: "\f134";
$caret-left: "\f14e";
$cancel: "\f103";
$cancel-circle: "\f104";

/*===================================================================
 Font Icons - /end
===================================================================*/

/*===================================================================
 Extend - Start
===================================================================*/

%section-shadow {
  @include box-shadow(0, 0, 10px, rgba($black, 0.1));
  position: relative;
}

%gradient-1 {
  @include linear-gradient(to right, $gradient-color-1, 50%, $gradient-color-2);
}
%gradient-1-h {
  @include linear-gradient(to right, $gradient-color-2, 50%, $gradient-color-1);
}
%gradient-2 {
  @include linear-gradient(to right, $gradient2-color1, 50%, $gradient2-color2);
}
%gradient-3 {
  @include linear-gradient(to right, $gradient3-color1, 50%, $gradient3-color2);
}

%gradient-success {
  @include linear-gradient(to right, $success-color1, 50%, $success-color2);
}

%gradient-success-h {
  @include linear-gradient(
    to right,
    darken($success-color1, 4%),
    60%,
    darken($success-color2, 5%)
  );
}

%txt-gradient-1 {
  background: -webkit-linear-gradient($gradient-color-1, $gradient-color-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

%gradient-line {
  content: "";
  @include size(100%, 1px);
  display: block;
  @include linear-gradient(
    to right,
    lighten($basecolor1, 20%),
    lighten($basecolor2, 20%)
  );
}

%overlay-common {
  content: "";
  @include position(absolute, 0 null null 0);
  @include size(100%);
  z-index: 100;
}

%overlay-blue {
  @extend %overlay-common;
  background: rgba($basecolor1, 0.9%);
}

%overlay-red {
  @extend %overlay-common;
  background: rgba($basecolor2, 0.9%);
}

%overlay-white {
  @extend %overlay-common;
  background: rgba($white, 0.9%);
}

%txt-hidden {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%btn-default-height {
  @include padding(0.85rem null);
}

%btn-xs-height {
  @include padding(0.5rem 16px);
}

%btn-sm-height {
  @include padding(1em);
}

%btn-lg-height {
  @include padding(0.9rem null);
}

%hViewAll {
  color: $basecolor2;
  border-left: solid 1px rgba($black, 0.2);
  padding-left: 20px;
  margin-left: 20px;
  font-size: $bfsize + 3;
  text-decoration: none;
  &:hover {
    color: $basecolor1;
  }
}

%compare-btn {
  position: relative;
  font-size: $bfsize-xs;
  color: $bf-color;
  display: inline-block;
  text-decoration: none;
  height: 22px;
  line-height: 22px;
  background: $white;
  padding: 0 5px 0 35px;
  @include opacity(0.7);
  &:before {
    content: "";
    font-family: $iconfont;
    font-size: $bfsize-mb;
    display: block;
    background: $white;
    border: solid 1px $bc1-light;
    @include position(absolute, 1px null null 10px);
    @include size(18px);
    line-height: 16px;
    @include border-radius($base-border-radius-xs);
    @include box-shadow(0, 1px, 3px, rgba($basecolor3, 0.2));
  }
  &.addedtocompare {
    @include opacity(1);
    color: $basecolor1;
    // &:before{background:$basecolor1; content:$font-Flaticon-checked; color:$white;}
  }
}

/*===================================================================
 Extend - /end
===================================================================*/

// Sprites
$sprite35: 35px;
$sprite48: 48px;
$sprite60: 60px;
$sprite70: 70px;

/* Responsive media queries*/

/* Large Screen*/

@mixin for-computer-only {
  @media only screen and (min-width: 991px) {
    @content;
  }
}

@mixin not-for-mobile {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin for-desktop-large-screen {
  @media only screen and (max-width: 1500px) {
    @content;
  }
}

@mixin for-desktop-medium-screen {
  @media only screen and (max-width: 1280px) {
    @content;
  }
}

/* Medium & Small Devices*/

@mixin for-desktop-ms-screen {
  @media only screen and (max-width: 1199px) {
    @content;
  }
}

/* Medium & Small Devices - Portrait & Landscape*/

@mixin for-ms-screen-portrait {
  @media only screen and (max-width: 1199px) and (orientation: portrait) {
    @content;
  }
}

@mixin for-ms-screen-landscape {
  @media only screen and (max-width: 1199px) and (orientation: landscape) {
    @content;
  }
}

/* Medium screens stuff here*/

@mixin for-medium-screen {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin for-ipad-portrait-screen {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

/* Mobile Screens*/

@mixin for-mobile-large-screen {
  @media only screen and (max-width: 767px) {
    @content;
    .center-mobile {
      text-align: center;
    }
    .button {
      padding: 13px 15px;
      font-size: 16px;
    }
  }
}

/* Mobile Large Screens*/

@mixin for-mobile-medium-screen {
  @media only screen and (max-width: 668px) {
    @content;
  }
}

@mixin for-mobile-ms-screen {
  @media only screen and (max-width: 580px) {
    @content;
  }
}

/* Mobile Medium Screens*/

@mixin for-mobile-small-screen {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

/* Mobile Medium Screens - Landscape*/

@mixin for-mobile-landscape-screen {
  @media only screen and (max-width: 480px) and (orientation: landscape) {
    @content;
  }
}

/* Mobile Medium Screens - Portrait*/

@mixin for-mobile-portrait-screen {
  @media only screen and (max-width: 480px) and (orientation: portrait) {
    @content;
  }
}

/* Mobile Small Screens*/

@mixin for-mobile-xs-screen {
  @media only screen and (max-width: 382px) {
    @content;
  }
}
