// @import 'variables';
.article{position: relative; z-index: 10;}
#main {
    .pg-container{
        min-height: calc(100vh - 88px);
        &.container-fluid{padding: 0;}
    }
}


.top_services_btn{background: $white;
	@include position(fixed, null -130px 120px null); z-index: 10;
	@include border-radius(100%);
	@include size(215px);
	@include box-shadow(0, 2px, 8px, rgba($bc1-dark, 0.2));
	span{display: block; text-align: center; padding-top: 40px; font-size: $bfsize+3;
		@include size(100%);
		@include transform(rotate(-90deg));
	}
	[class*="icofont-"]{font-size: $bfsize+6; display: block; height: 100%;
		@include position(absolute, 0 null null 15px);
	}
}

.top_services_modal{
	.services_list{position: relative; z-index: 10;
		.tab-pane .nav{
			ul{@extend %no-list;}
			li{margin: 0;}
			a{display: block; text-decoration: none; padding: 4px 0; line-height: 1.5em; font-size: $bfsize-sm;
				&:hover{padding-left: 6px;}
			}
		}

		.article{
			.publisher_logo{margin-bottom: 12px;
				img{max-width: 60%; @include border-radius($base-border-radius);}
			}
		}
	}

	.jobs_list{
		li a{ display: block; padding: 13px 13px 13px 38px; border: solid 1px $white; background: $white; color: $basecolor1; font-weight: $bold; margin: 15px 0; text-decoration: none; position: relative;
			@include box-shadow(0, 1px, 7px, rgba($bc1-light, 0.3));
			@include border-radius($base-border-radius);
			&:before{content:"\eaa0"; display: block; font-family: $iconfont; font-size: $bfsize+6; height: 100%; color: $bc1-light;
				@include position(absolute, 0 null null 10px);
				@include display(flex);
				@include align-items(center);
				@include justify-content(center);
			}
			&:hover{
				border-color: $basecolor1;
				&:before{color: $basecolor1;}
			}
		}
	}
}

// Header - [Start]
#client_header{background: $white; border-bottom: solid 1px rgba($bc1-lighter, 0.6); position: relative; z-index: 100;
	@include position(fixed, 0 null null 0);
	@include size(100%, $cl_header_height);
	.row-1{padding-top: 12px;
		.container{position: relative;}
	}
    #logo{ 
        img{max-width: 120px;}
	}
	
	#top-nav{
		ul{}
		li{position: relative;
			a{display: block; padding: 8px 25px; font-size: $bfsize-xs; font-weight: $bold; color: $bf-color; text-decoration: none;
				@include border-radius(100px);
				[class*="icofont-"]{font-size: $bfsize+2; color: $bf-color; display: inline-block;}
				@include for-mobile-large-screen { padding:0 8px; display: block;  text-align: center; text-decoration: none; font-weight: $semibold; font-size: $bfsize-xs; }
				&:hover{
					&, *{color: $basecolor1;}
				}
				&.login-btn{ background: $white; color: $basecolor1; border: solid 1px $white;
					@include box-shadow(0, 1px, 8px, rgba($bf-color, 0.1));
					&:hover{border-color:$basecolor1;}
				}
			}

			&.hamburger_menu{ padding-left: 10px;
				a{
					display: block; border: solid 1px $basecolor1;  text-align: center; text-decoration: none; font-size: $bfsize+18; line-height: 60px;
						@include size(60px);
						@include border-radius(100px);
					span{display: block; height: 3px; background: $basecolor1;
						@include border-radius(100px);
						&:nth-child(even){margin: 5px 0;}
					}
					&:hover{background: $basecolor1;
						span{background: $white;}
					}
				}
				&.hamburger_menu{
					a{padding: 20px 12px 0;}
				}
			}

			.dropdown{ background: $basecolor1; padding: 20px; width: 550px; visibility: hidden; @include opacity(0);
				@include transform(translate(0, 10px));
				@include border-radius($base-border-radius);
				@include position(absolute, 100% 0 null null); 
				@include transition($duration-2);
				&:before{content:""; display: block; background: $basecolor1; margin-left: -12px;
					@include position(absolute, -8px 45px null null);
					@include size(20px);
					@include border-radius($base-border-radius-xs);
					@include transform(rotate(45deg));
				}
				.close_btn{color: $white; text-align: center; line-height: 38px;
					@include size(38px);
					@include border-radius(100%);
					@include position(absolute, 16px 16px null null); z-index: 10;
					@include transition($duration-2); 
					@include opacity(0.6);
					
					[class*="icofont-"]{font-size: $bfsize+2; color: $white; }
					&:hover{ @include opacity(1); 
						background: rgba($white, 0.2);
					}
				}
			}
			
			.track_order{
				#track_order_form{position: relative;
					@include box-shadow(0, 1px, 5px, rgba($bc1-dark, 0.3));
					.form-control{
						&:invalid{background: #ffeddc;}
					}
					.track_btn_wrap{ height: 100%; 
						@include position(absolute, 0 0 null null); z-index: 20;
						.btn{ height: 100%; @include border-radius(0 $base-border-radius $base-border-radius 0); }
					}
				}
			}
			&.active{
				> a { color: $basecolor1;
					[class*="icofont-"] {  color: $basecolor1; @include transform(rotate(180deg)) }
				}
				.dropdown{ @include transform(translate(0, 6px));
					@include opacity(1); visibility: visible;
				}
			}
			// @include not-for-mobile{
			// 	&:hover{
			// 		.dropdown{
			// 			visibility: visible; @include opacity(1);
			// 		}
			// 	}
			// }
		}
	}
}

.hamburgerMenu{
	.hamburger_nav{ margin-bottom: 10px;
		li{
			a{text-decoration: none; display: block; font-size: $bfsize-sm; color: $bf-color; padding: 5px 0 5px 30px; text-decoration: none; position: relative;
				&:before{content:"\eaca"; display: block; font-size: $bfsize+6; font-family: $iconfont; @include position(absolute, 5px null null 0); }
				&:hover{ padding-left: 34px; color: $basecolor1;}
			}
		}
	}
	.card-body{padding: 0;}

	.hamburger_inner_nav{border-bottom: solid 1px $bc1-lighter; margin-bottom: 12px;
		li{
			a{display: block; font-size: $bfsize+4; color: $bf-color; font-weight: $bold; text-decoration: none; padding: 12px 15px; }
			&:not(:last-child){border-bottom: solid 1px $bc1-lighter;}
		}
	}
}

#client_footer{
	.row-1{background: $bc1-dark; padding: $section-padding-xs;
		.title{color: $white; font-size: $h5; font-weight: $bold;}
		.app_btns{
			>div{
				&:not(:last-child){margin-right: 10px;}
			}
		}

		.social_icons{
			li{}
			a{text-decoration: none;
				[class*="icofont-"]{font-size: $bfsize+8; display: block; background: transparent; color :$white; line-height: 54px; text-align: center;
					@include size(54px); 
					@include border-radius(100%);
				}
				&:hover{
					[class*="icofont-"]{background: rgba($white, 0.1); }
				}
			}
		}
	}

	.row-2{ background: $bc1-darker; padding: $section-padding-lg;
		.logo{
			img{max-height: 72px;}
		}
		.support_btns{ margin-top: 20px;
			.btn{ margin: 6px 0; }
		}
		.title{color: $white;}
		.footer_nav{
			li{
				a{color: $white; text-decoration: none; font-size: $bfsize-sm; display: block; padding: 3px 0; 
					&:hover{color: $basecolor1;}
				}
			}
		}

		.copyright{ border-top: solid 1px rgba($white, 0.1); color: $bc1-light; margin-top: 30px; text-align: center; padding-top: 30px; font-size: $bfsize-sm;
			a{color: $white; display: inline-block; text-decoration: none;
				&:hover{color: $basecolor1;}
			}
			.divider{display: inline-block; margin: 0 10px; color: $bc1-light; @include opacity(0.7);}
		}
	}
}

.section_industries{overflow: hidden;
	.industry_box{background: $white; overflow: hidden; border: solid 2px $bc1-lightest; padding: 30px 20px 60px; position: relative;
		@include border-radius($base-border-radius);
		[class*="sprite-"]{margin: 0 auto 10px; @include opacity(0.6);}
		.title{height: 45px; margin: 0;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
		}
		.hover_info{ background: $bc1-lightest; font-size: $bfsize-mb; line-height: 1.5em; padding: 12px; 
			@include display(flex);
			@include justify-content(center);
			@include position(absolute, 100% null null 0);
			@include size(100%);
			@include transition($duration-2); 
			&:before{content:""; display: block; background: url(../images/bottom_vector.svg) no-repeat center;
				@include position(absolute, -35px null null 0);
				@include size(100%, 35px);
			}
			&:after{content:"\eaa1"; font-size: $bfsize+10; font-family: $iconfont; display: block; color: $basecolor1; width: 100%;
				@include position(absolute, -26px null null 0);
			}
		}
		&:hover{
			.hover_info{top: 38px;}
		}
	}
}

.section_process{
	.process_box{
		.icon_wrap{ margin-bottom: 20px; position: relative;
			@include not-for-mobile{
				&:before, &:after{ content:""; display: block; background: url(../images/process_vector_path.webp)  4% top no-repeat;
					@include position(absolute, 0 nukk nukk 0);
					background-size: auto 100%;
					@include size(50%, 100%);
				}
				&:before{transform: scale(1, 1);}
				&:after{right: 0; left: unset; transform: scale(1, -1); background-position: 96% bottom;}
			}
			.icon{background: $basecolor1; margin: 0 auto; position: relative; z-index: 2;
				@include size(60px);
				@include border-radius(100%);
				[class*="icofont-"]{color: $white; font-size: $bfsize+10; line-height: 60px;}
			}
		}
		.title{margin-bottom: 15px; padding: 0 8px;}
		.cnt{padding: 0 8px;}
	}

	@include not-for-mobile{
		.col-cs-5{
			&:first-child{
				.process_box{
					.icon_wrap:before{display: none;}
				}
			}
			&:last-child{
				.process_box{
					.icon_wrap:after{display: none;}
				}
			}
			&:nth-child(odd){
				.process_box{
					.icon_wrap{
						&:after{@include transform(scale(1, 1));}
					}
				}
			}
			&:nth-child(even){
				.process_box{
					.icon_wrap{
						&:before{@include transform(scale(1, -1));}
					}
				}
			}
		}
	}
}


.testimonials_section{
	.testimonials_list_wrap{ max-width: 550px; margin: 0 auto;
		.box-shade{padding: 9px; background: $white; position: relative;
			@include box-shadow(0, 10px, 30px, rgba($bc1-dark, 0.3));
			@include border-radius(0 0 $base-border-radius-lg $base-border-radius-lg); margin: 0 auto;
			&.one{width: 90%; z-index: 3;}
			&.two{width: 84%; z-index: 2;}
		}
		.testimonials_list{ position: relative; margin-top: 70px; z-index: 4;
			&:before{content:""; display: block; background: url(../images/vector_top_box.webp); background-size: cover; margin-left: -106px;
				@include size(212px, 56px);
				@include position(absolute, -34px null null 50%);
			}
			.testimonials_box{ padding: 50px 30px 30px; background: $white;
				@include border-radius($base-border-radius-lg);
				@include box-shadow(0, 10px, 40px, rgba($bc1-dark, 0.3));
				.img{@include flexWidth(107px);
					img{@include size(107px); @include border-radius(100%);}
				}
				.cnt{ padding-left: 30px;
					.name{display: inline-block; border-left: solid 1px $bc1-lighter; padding-left: 10px; margin-left: 10px;}
				}
			}
		}
	}
}

.service_list{
	.row{
		@include not-for-mobile{
			&:not(:last-child){border-bottom: solid 1px $bc1-lightest;}
			[class*="col-"]:nth-child(even){border-left: solid 1px $bc1-lightest; border-right: solid 1px $bc1-lightest;}
		}
	}
	.service_box{padding: 20px; background: $white; text-align: center;
		.icon{display: table; margin: 0 auto 10px;}
		h4{margin-bottom: 8px;}
		p{font-size: $bfsize-xs; line-height: 1.7em;}
		ul{@extend %no-list;}
		li{ margin: 0; font-size: $bfsize-xs;
		}
	}
}

@include for-mobile-large-screen{
	
	.top_services_btn{bottom: 40px; right: -160px;
		span{padding-top: 24px; font-size: $bfsize;}
		[class*="icofont-"]{left: 5px; }
	}
	.top_services_modal{
		.services_list{
			.container{padding: 0;}
		}
	}
	
	.service_list{
		.row{
			[class*="col-"]{
				border-bottom: solid 1px $bc1-lightest;
			}
			&:last-child [class*="col-"]:last-child{border-bottom: none;}
		}
		.service_box{ padding: 8px 20px;}
	}
	#client_header{
		.mobile_btns{
			li{margin-right: 8px;}
		}
		.header_right{position: inherit;}
		#top-nav li{position: inherit;
			.dropdown{max-width: 100%;
				@include border-radius(0);
				@include transform(translate(0, 0));
				&:before{left: unset; right: 104px;}
			}
			a [class*="icofont-"]{display: none;}
			&.active{
				.dropdown{ @include transform(translate(0, 6px));
					@include opacity(1); visibility: visible;
				}
			}
		}
	}

	#client_footer{
		.row-1{text-align: center; padding: 0;
			.col_wrap{padding: 20px 0; border-bottom: solid 1px rgba($bc1-lighter, 0.1);}
			[class*="sprite-app_btn_"]{margin:5px 0 !important;}
		}
		.row-2{ 
			.support_btns{margin: 12px 0;}
			.footer_nav{ margin-bottom: 25px; }
			.copyright{margin: 10px 0 0; padding-top: 20px;}
		}
	}

	.section_industries .industry_box{
		padding: 20px 12px 50px;
	}
}